[run]
source = .
omit = *system_site_packages*, *site-packages*, *dist-packages*, *virtualenv*, *tasks.py*, *tests*, *__manifest__.py{% if excluded_addons %}{% for addon in excluded_addons.split(",") %}, {{ addon }}*{% endfor %}{% endif %}

[report]
show_missing = true
skip_covered = true
fail_under = {{ coverage_fail_under }}
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:
