import os
import re
import tempfile
import uuid

from dotenv import dotenv_values
from invoke import task
from urllib.parse import quote_plus

PROJECT = "{{ project_name }}"
DOCKER_REGISTRY = "r.studio73.es"
{%- if image %}
DOCKER_IMAGE = "{{ image.replace('r.studio73.es/', '') }}:{{ odoo_version }}"
{%- else %}
DOCKER_IMAGE = "odoo/{{ odoo_edition }}:{{ odoo_version }}"
{%- endif %}


@task
def build(c):
    c.run("docker pull {{ base_image }}:{{ odoo_version }}", pty=True)
    c.run("docker buildx build -t {} .".format(DOCKER_IMAGE), pty=True)
    c.run(
        "docker tag {} {}/{}".format(DOCKER_IMAGE, DOCKER_REGISTRY, DOCKER_IMAGE),
        pty=True,
    )


@task
def pull(c):
    c.run("docker pull {}/{}".format(DOCKER_REGISTRY, DOCKER_IMAGE), pty=True)


@task
def run(c, port="8069"):
    exec(c, "odoo", port=port, name=None)


@task
def dev(c, port="8069"):
    exec(c, "odoo --dev=all", port=port, name=None)


@task
def debug(c, port="8069"):
    exec(c, "odoo-debug", port=port, name=None)


@task
def update(c):
    exec(c, "odoo-update", port=None, name=None)


@task
def shell(c):
    exec(c, "odoo shell --no-xmlrpc", port=None, name=None)


@task
def lint(c):
    if not os.path.exists(".git/hooks/pre-commit"):
        c.run("pre-commit install", pty=True)
    c.run("pre-commit run -a", pty=True)


@task
def test(c):
    exec(c, "bash -c 'odoo-test run && odoo-test coverage'", port=None, name=None)


@task
def exec(c, cmd="bash", port="8069", name=PROJECT):
    if not name:
        _id = str(uuid.uuid4()).split("-")[0]
        name = "{}_{}".format(PROJECT, _id)
    home = os.path.expanduser("~")
    cwd = os.getcwd()

    def get_env():
        pwd = os.getcwd()
        while pwd != "/":
            if ".env" in os.listdir(pwd):
                return os.path.join(pwd, ".env")
            pwd = os.path.dirname(pwd)
        return False

    env_file = get_env()
    if not env_file:
        print(".env not found")
        exit(75)
    config = dotenv_values(env_file)
    dockercmd = [
        "docker",
        "run",
        "--rm",
        "-it",
        "--net={}".format(config.get("NET", "bridge")),
        "--name={}".format(name),
        "--env-file={}".format(env_file),
        "--env=PGDATABASE={}".format(PROJECT),
        "--volume={}/.config/dodoo/data:/opt/odoo/data".format(home),
        "--volume={}/.config/dodoo/backup:/opt/odoo/backup".format(home),
        "--volume={}:/opt/odoo/src/custom".format(cwd),
    ]
    volume_base_path = os.path.dirname(os.path.dirname(cwd))
    for volume in config.get("VOLUMES", "").split(","):
        if not volume:
            continue
        volume_src = os.path.join(volume_base_path, volume)
        volume_dest = os.path.join("/opt/odoo/src", volume)
        if not os.path.exists(volume_src):
            print("{}: Path not found".format(volume_src))
            exit(75)
        dockercmd += ["--volume={}:{}".format(volume_src, volume_dest)]
    if port:
        dockercmd += ["--publish={}:8069".format(config.get("PORT", port))]
    if cmd == "odoo-debug":
        debugger_port = config.get("DEBUGGER_PORT", "5678")
        dockercmd += ["--publish={}:{}".format(debugger_port, debugger_port)]
    dockercmd += ["{}/{}".format(DOCKER_REGISTRY, DOCKER_IMAGE), cmd]
    c.run(" ".join(dockercmd), pty=True)


@task
def commit(c):
    result = c.run("pip3 list | grep cz-73 | wc -l", hide="both")
    if result.stdout.strip() == "0":
        c.run(
            "pip3 install --user git+ssh://git@github.com/Studio73/cz_73.git", pty=True
        )
    if not os.path.exists(".git/hooks/pre-commit"):
        c.run("pre-commit install", pty=True)
    cmd = "cz -n cz_73 c"
    temp_file: str = os.path.join(
        tempfile.gettempdir(),
        "cz.commit{}.backup".format(os.environ.get("USER", "")),
    )
    if os.path.isfile(temp_file):
        cmd += " --retry"
    c.run(cmd, pty=True)


def _get_commit_info(c, base):
    commits_short = c.run(
        "git --no-pager log --format='TITLE>>%s<<%nBODY>>%b<<' origin/{}..HEAD".format(
            base
        ),
        hide="both",
    ).stdout.strip()
    r = re.compile("(TITLE>>(?P<title>([^<]*))<<){1}\s(BODY>>(?P<body>([^<]*))<<){1}")
    full_commits = [m.groupdict() for m in r.finditer(commits_short)]
    title_regex = re.compile(
        "(?P<type>(\\w)*)(?P<scope>\\(\\w+\\))?(?P<breaking>!)?:(?P<message>(.*))?"
    )
    body_regex = re.compile(
        "(?P<body>(.*))?\n?((?P<task_type>(?i)(ta|ti))(-)*(?P<task_id>\d+))"
    )
    pr_type = "fix"
    pr_messages = []
    tasks = []
    for commit in full_commits:
        title = commit.get("title", "")
        body = commit.get("body", "")
        # Old format not supported
        if str(title).startswith("["):
            continue
        title_data = title_regex.search(title).groupdict()
        commit_type = title_data.get("type", "")
        title_message = title_data.get("message", "")
        breaking = bool(title_data.get("breaking", ""))
        body_data = body_regex.search(body).groupdict()
        body = body_data.pop("body", "")
        message = f"- **{title_message.strip()}**"
        if body:
            message += f"\n  - {body.strip()}"
        pr_messages.append(message)
        tasks.append(body_data)
        if breaking:
            pr_type = "!"
        if pr_type != "!":
            if commit_type == "migration":
                pr_type = "migration"
            elif commit_type != "fix":
                pr_type = "feat"
        # Si es una migración, el resto de commits son antiguos y no nos importan
        if commit_type == "migration":
            break
    tasks = _convert_task_info(tasks)
    return pr_type, "\n".join(pr_messages), tasks


def _get_affected_modules(c, base):
    diff = c.run(
        "git --no-pager diff --name-only origin/{} HEAD | sort".format(base),
        hide="both",
    ).stdout.strip()
    modules = []
    for change in diff.split():
        change_dir = change.split("/")[0]
        if os.path.isdir(change_dir) and os.path.exists(
            os.path.join(change_dir, "__manifest__.py")
        ):
            modules.append(change_dir)
    return modules


def _convert_task_info(task_list):
    done_tasks = []
    formatted_tasks_to_join = []
    for task_dict in task_list:
        if task_dict in done_tasks:
            continue
        done_tasks.append(task_dict)
        task_type = task_dict.get("task_type", "")
        task_id = task_dict.get("task_id", "")
        formatted_tasks_to_join.append(
            "[{code}]({url})".format(
                code=f"{task_type.upper()}{task_id}",
                url="https://www.studio73.es/{type}/{id}".format(
                    type=task_type.lower(), id=task_id
                ),
            )
        )
    return "\n".join(formatted_tasks_to_join)


@task
def pr(c):
    c.run("git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)")
    base = "{{ odoo_version }}.0"
    current = c.run("git rev-parse --abbrev-ref HEAD", hide="both").stdout.strip()
    pr_type, pr_messages, tasks = _get_commit_info(c, base)
    modules = _get_affected_modules(c, base)
    title = f"{pr_type.lower()}({base}): {','.join(sorted(list(set(modules))))}"
    body = (
        "### Tarea relacionada\n"
        "\n"
        f"{tasks}\n"
        "\n"
        "### Cambios propuestos en este PR:\n"
        "\n"
        f"{pr_messages}\n"
        "\n"
        "### Como probar los cambios\n"
        "\n"
        "### Notas adicionales"
        "\n"
    )
    pr_url = (
        "https://github.com/Studio73/{{ repo_name }}"
        f"/compare/{base}...{current}"
        f"?quick_pull=1\\&title={quote_plus(title)}\\&body={quote_plus(body)}"
    ).format(base, current, title, quote_plus(body))
    c.run("python3 -mwebbrowser {}".format(pr_url))
