* @ioans73 @fuentes73
account_*/ @ioans73 @fuentes73 @Jortolsa-S73 @ferran-S73
connector_*/ @ioans73 @fuentes73 @RabbitJon-S73 @Reyes4711-S73
delivery_*/ @ioans73 @ferran-S73 @RabbitJon-S73 @miguel-S73
l10n_es_*/ @ioans73 @fuentes73 @Jortolsa-S73 @ferran-S73
mrp_*/ @ioans73 @ferran-S73 @Reyes4711-S73 @Jortolsa-S73
partner_*/ @ioans73 @miguel-S73 @ferran-S73 @RabbitJon-S73
product_*/ @ioans73 @miguel-S73 @ferran-S73 @sbiosca-s73
purchase_*/ @ioans73 @ferran-S73 @Reyes4711-S73
res_partner_*/ @ioans73 @miguel-S73 @ferran-S73 @Reyes4711-S73
sale_*/ @ioans73 @fuentes73 @ferran-S73 @RabbitJon-S73 @miguel-S73
stock_*/ @ioans73 @fuentes73 @ferran-S73 @sbiosca-s73
web*/ @ioans73 @fuentes73 @miguel-S73 @ferran-S73
