[bumpversion]
current_version = 0.1.2
commit = True
tag = True
tag_name = {new_version}

[bumpversion:file:Dockerfile]
search = org.label-schema.schema-version="{current_version}"
replace = org.label-schema.schema-version="{new_version}"

