---
meta:
  x-notify-pr: &notify-pr
    on_success:
      put: notify-pr
      inputs: [pr]
      params: {state: success}
    on_failure:
      put: notify-pr
      inputs: [pr]
      params: {state: failure}
    on_error:
      put: notify-pr
      inputs: [pr]
      params: {state: error}
    on_abort:
      put: notify-pr
      inputs: [pr]
      params: {state: error}
  x-db-conn: &db-conn
    params:
      PGUSER: "ci"
      PGDATABASE: "{{ project_name }}"
      PGHOST: ((PGHOST))
      PGPORT: ((PGPORT))
      PGPASSWORD: ((PGPASSWORD))
{%- if image %}
  x-notify: &notify
    on_failure:
      put: notify
      inputs: [repo]
      params: {state: failure}
    on_error:
      put: notify
      inputs: [repo]
      params: {state: error}
  x-build-params: &build-params
    UNPACK_ROOTFS: true
    CONTEXT: repo
    ODOO_VERSION: "{{ odoo_version }}"
    IMAGE_ARG_base_image: odoo/image.tar
    BUILD_ARG_SSH_KEY: ((GITHUB_SSH_KEY))
  x-build: &build
    privileged: true
    file: repo/.ci/tasks/build.yaml
    params:
      <<: *build-params
{%- endif %}

resource_types:
  - name: pull-request
    type: docker-image
    check_every: 24h
    source:
      repository: teliaoss/github-pr-resource
  - name: cogito
    type: registry-image
    check_every: 24h
    source:
      repository: pix4d/cogito

resources:
  - name: pr
    type: pull-request
    icon: github
    check_every: 24h
    webhook_token: ((WEBHOOK_TOKEN))
    source:
      repository: {{ org_name }}/{{ repo_name }}
      access_token: ((GITHUB_TOKEN))
  - name: notify-pr
    type: cogito
    icon: bell-ring
    check_every: 24h
    source:
      owner: {{ org_name }}
      repo: {{ repo_name }}
      access_token: ((GITHUB_TOKEN))
  - name: repo
    type: git
    icon: github
    check_every: 24h
    webhook_token: ((WEBHOOK_TOKEN))
    source:
      uri: https://github.com/{{ org_name }}/{{ repo_name }}.git
      branch: "{{ odoo_version }}.0"
      username: ((GITHUB_TOKEN))
      password: x-oauth-basic
{%- if image %}
  - name: notify
    type: cogito
    icon: bell-ring
    check_every: 24h
    source:
      owner: {{ org_name }}
      repo: {{ repo_name }}
      access_token: ((GITHUB_TOKEN))
      gchat_webhook: ((GCHAT_CONCOURSE_WEBHOOK))
  - name: odoo-{{ odoo_edition }}
    type: registry-image
    icon: docker
    source:
      username: ((REGISTRY_USER))
      password: ((REGISTRY_SECRET))
      repository: {{ base_image }}
      tag: {{ odoo_version }}
  - name: odoo-{{ odoo_edition }}-dev
    type: registry-image
    icon: docker
    source:
      username: ((REGISTRY_USER))
      password: ((REGISTRY_SECRET))
      repository: {{ base_image }}
      tag: {{ odoo_version }}-dev
  - name: {{ project_name }}
    type: registry-image
    icon: docker
    source:
      username: ((REGISTRY_USER))
      password: ((REGISTRY_SECRET))
      repository: {{ image }}
      tag: {{ odoo_version }}
  - name: {{ project_name }}-dev
    type: registry-image
    icon: docker
    source:
      username: ((REGISTRY_USER))
      password: ((REGISTRY_SECRET))
      repository: {{ image }}
      tag: {{ odoo_version }}-dev

groups:
  - name: all
    jobs:
      - "*"
  - name: master
    jobs:
      - build-dev
      - build
  - name: pr
    jobs:
      - lint
      - tests
{%- endif %}

jobs:
  - name: set-self
    plan:
      - get: repo
        trigger: true
      - set_pipeline: self
        file: repo/.ci/pipeline.yaml
{%- if image %}
  - name: build
    <<: *notify
    plan:
      - get: repo
        trigger: true
      - get: odoo-{{ odoo_edition }}
        params: {format: oci}
        trigger: true
      - task: build
        <<: *build
        input_mapping: {odoo: "odoo-{{ odoo_edition }}"}
        output_mapping: {image: "{{ project_name }}"}
      - task: tests
        <<: *db-conn
        image: {{ project_name }}
        file: repo/.ci/tasks/tests-build.yaml
      - put: {{ project_name }}
        params:
          image: {{ project_name }}/image.tar
          additional_tags: {{ project_name }}/today-tag
  - name: build-dev
    <<: *notify
    plan:
      - get: repo
      - get: odoo-{{ odoo_edition }}-dev
        params: {format: oci}
        trigger: true
      - task: aggregate-prs
        params:
          GITHUB_TOKEN: ((GITHUB_TOKEN))
          SSH_KEY: ((GITHUB_SSH_KEY))
          ODOO_VERSION: {{ odoo_version }}.0
        file: repo/.ci/tasks/aggregate-prs.yaml
      - task: build-dev
        <<: *build
        params:
          <<: *build-params
          DEV: True
        input_mapping: {odoo: "odoo-{{ odoo_edition }}-dev"}
        output_mapping: {image: "{{ project_name }}-dev"}
      - task: tests
        <<: *db-conn
        image: {{ project_name }}-dev
        file: repo/.ci/tasks/tests-build.yaml
      - put: {{ project_name }}-dev
        params:
          image: {{ project_name }}-dev/image.tar
          additional_tags: {{ project_name }}-dev/today-tag
{%- endif %}
  - name: lint
    <<: *notify-pr
    plan:
      - get: pr
        trigger: true
      - put: notify-pr
        inputs: [pr]
        params: {state: pending}
      - task: lint
        file: pr/.ci/tasks/lint.yaml
  - name: tests
    <<: *notify-pr
    plan:
      - in_parallel:
          - get: pr
            trigger: true
            passed: [lint]
      - put: notify-pr
        inputs: [pr]
        params: {state: pending}
      - task: tests
        <<: *db-conn
        input_mapping: {custom: pr}
        file: pr/.ci/tasks/tests-pr.yaml
