{% set editions = ["base", "community", "enterprise"] -%}
{% set versions = ["14", "15", "16"] -%}
{% set tools = ["oci-build", "proxypass", "tools"] -%}
---
meta:
  x-notify: &notify
    on_failure:
      put: notify
      inputs: [repo]
      params: {state: failure}
    on_error:
      put: notify
      inputs: [repo]
      params: {state: error}

  x-git-source: &git-source
    uri: https://github.com/Studio73/dodoo.git
    branch: master
    username: ((GITHUB_TOKEN))
    password: x-oauth-basic
  x-git: &git
    type: git
    icon: github
    check_every: 24h
    webhook_token: ((WEBHOOK_TOKEN))
    source:
      <<: *git-source
  x-git-paths: &git-paths
    - odoo/bin/*
    - odoo/entrypoint.py
    - odoo/requirements.txt

  x-registry-image-source: &registry-image-source
    username: ((REGISTRY_USER))
    password: ((REGISTRY_SECRET))
  x-registry-image: &registry-image
    type: registry-image
    icon: docker
    check_every: 24h

resource_types:
  - name: cogito
    type: registry-image
    check_every: 24h
    source:
      repository: pix4d/cogito

resources:
  - name: daily
    type: time
    icon: clock-outline
    source:
      days: [Sunday, Monday, Tuesday, Wednesday, Thursday]
      start: 14:00
      stop: 14:30
      location: Europe/Madrid
      initial_version: true
  - name: nightly
    type: time
    icon: clock-outline
    source:
      days: [Sunday, Monday, Tuesday, Wednesday, Thursday]
      start: 21:00
      stop: 22:00
      location: Europe/Madrid
      initial_version: true
  - name: sunday
    type: time
    icon: clock-outline
    source:
      days: [Sunday]
      start: 01:00
      stop: 02:00
      location: Europe/Madrid
      initial_version: true
  - name: notify
    type: cogito
    icon: bell-ring
    check_every: 24h
    source:
      owner: Studio73
      repo: dodoo
      access_token: ((GITHUB_TOKEN))
      gchat_webhook: ((GCHAT_CONCOURSE_WEBHOOK))
  - name: repo
    <<: *git
  {%- for version in versions %}
  - name: repo-odoo-{{ version }}
    <<: *git
    source:
      <<: *git-source
      paths:
        - *git-paths
        - odoo/{{ version }}.0/*
  {%- endfor %}
  {%- for tool in tools %}
  - name: repo-{{ tool }}
    <<: *git
    source:
      <<: *git-source
      paths:
        - {{ tool }}/*
  {%- endfor %}

  {%- for tool in tools %}
  - name: {{ tool }}
    <<: *registry-image
    source:
      <<: *registry-image-source
      repository: r.studio73.es/odoo/{{ tool }}
      tag: latest
  {%- endfor %}
  {%- for version in versions %}{% for edition in editions %}
  - name: {{ edition }}-{{ version }}
    <<: *registry-image
    source:
      <<: *registry-image-source
      repository: r.studio73.es/odoo/{{ edition }}
      tag: {{ version }}
  {%- if edition != "base" %}
  - name: {{ edition }}-{{ version }}-dev
    <<: *registry-image
    source:
      <<: *registry-image-source
      repository: r.studio73.es/odoo/{{ edition }}
      tag: {{ version }}-dev
  {%- endif %}
  {%- endfor %}{% endfor %}
  - name: ubuntu
    type: registry-image
    icon: docker
    source:
      repository: ubuntu
      tag: "20.04"

groups:
  - name: all
    jobs:
      - "*"
  - name: odoo
    jobs:
      - update-repos
      {%- for edition in editions %}
      - "build-{{ edition }}-*"
      {%- endfor %}
  - name: dev
    jobs:
      - "*-dev"
  - name: tools
    jobs:
      - update-repos
      {%- for tool in tools %}
      - build-{{ tool }}
      {%- endfor %}

jobs:
  # Build tools docker images
  {%- for tool in tools %}
  - name: build-{{ tool }}
    <<: *notify
    plan:
      - in_parallel:
          - get: repo
          - get: repo-{{ tool }}
            trigger: true
      - task: build
        attempts: 3
        privileged: true
        params:
          CONTEXT: repo/{{ tool }}
        file: repo/.ci/tasks/build-tools.yaml
        output_mapping: {image: {{ tool }}}
      - put: {{ tool }}
        params:
          image: {{ tool }}/image.tar
  {%- endfor %}
  # Update repos YAML
  - name: update-repos
    <<: *notify
    plan:
      - get: sunday
        trigger: true
      - get: repo
      - task: update
        attempts: 3
        params:
          GITHUB_TOKEN: ((GITHUB_TOKEN))
        file: repo/.ci/tasks/update-repos.yaml
      - put: repo
        params: {repository: repo}
  # Build Odoo docker images
  {%- for version in versions %}{% for edition in editions %}
    {%- set _name = '{}-{}'.format(edition, version) %}
  - name: build-{{ _name }}
    <<: *notify
    plan:
      - in_parallel:
          - get: repo
          {%- if edition == "community" %}
          - get: daily
            trigger: true
          - get: nightly
            trigger: true
          - get: base-{{ version }}
            params: {format: oci}
            trigger: true
            passed: [build-base-{{ version }}]
          {%- elif edition == "enterprise" %}
          - get: community-{{ version }}
            params: {format: oci}
            trigger: true
            passed: [build-community-{{ version }}]
          {%- else %}
          - get: repo-odoo-{{ version }}
            trigger: true
          - get: ubuntu
            params: {format: oci}
          {%- endif %}
      - task: update-repo
        params:
          GITHUB_TOKEN: ((GITHUB_TOKEN))
          ODOO_EDITION: "{{ edition }}"
          ODOO_VERSION: "{{ version }}.0"
        file: repo/.ci/tasks/update-repos.yaml
      - task: build
        {%- if edition == "community" %}
        input_mapping: {base-image: base-{{ version }}}
        {%- elif edition == "enterprise" %}
        input_mapping: {base-image: community-{{ version }}}
        {%- else %}
        input_mapping: {base-image: ubuntu}
        {%- endif %}
        privileged: true
        file: repo/.ci/tasks/build-odoo.yaml
        params:
          ODOO_EDITION: "{{ edition }}"
          ODOO_VERSION: "{{ version }}"
          BUILD_ARG_SSH_KEY: ((GITHUB_SSH_KEY))
          IMAGE_ARG_base_image: base-image/image.tar
        output_mapping: {image: "{{ _name }}"}
      - put: {{ _name }}
        params:
          image: {{ _name }}/image.tar
          additional_tags: {{ _name }}/today-tag
  {%- endfor %}{% endfor %}
  # Build Odoo DEV docker images
  {%- for version in versions %}{% for edition in editions[1:] %}
  {%- set _name = '{}-{}-dev'.format(edition, version) %}
  - name: build-{{ _name }}
    <<: *notify
    plan:
      - in_parallel:
          - get: repo
          {%- if edition == "community" %}
          - get: daily
            trigger: true
          - get: nightly
            trigger: true
          - get: base-{{ version }}
            params: {format: oci}
            passed: [build-base-{{ version }}]
          {%- elif edition == "enterprise" %}
          - get: community-{{ version }}-dev
            params: {format: oci}
            trigger: true
            passed: [build-community-{{ version }}-dev]
          {%- endif %}
      - task: aggregate-prs
        params:
          GITHUB_TOKEN: ((GITHUB_TOKEN))
          ODOO_EDITION: "{{ edition }}"
          ODOO_VERSION: "{{ version }}.0"
          ADD_OPEN_PRS: true
        file: repo/.ci/tasks/update-repos.yaml
      - task: build
        {%- if edition == "community" %}
        input_mapping: {base-image: base-{{ version }}}
        {%- elif edition == "enterprise" %}
        input_mapping: {base-image: community-{{ version }}-dev}
        {%- endif %}
        privileged: true
        file: repo/.ci/tasks/build-odoo.yaml
        params:
          DEV: True
          ODOO_EDITION: "{{ edition }}"
          ODOO_VERSION: "{{ version }}"
          BUILD_ARG_SSH_KEY: ((GITHUB_SSH_KEY))
          IMAGE_ARG_base_image: base-image/image.tar
        output_mapping: {image: "{{ _name }}"}
      - put: {{ _name }}
        params:
          image: {{ _name }}/image.tar
          additional_tags: {{ _name }}/today-tag
 {%- endfor %}{% endfor %}
