version: "3.7"
services:
  odoo:
    container_name: {{ name }}
    image: registry.studio73.es/dodoo:{{ odoo_version }}
    hostname: {{ name }}
    env_file: .env
    depends_on:
      - postgres
    volumes:
      - ./data:/opt/odoo/data
      - ./setup:/opt/odoo/setup
      - ./src:/opt/odoo/src
      - /mnt/backup/{{ name }}:/opt/odoo/data/backup
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ name }}.tls=true"
      - "traefik.http.routers.{{ name }}.middlewares=gzip@file"
      - "traefik.http.routers.{{ name }}.rule=Host(`{{ name }}.studio73.es`)"
      - "traefik.http.routers.{{ name }}.service={{ name }}"
      - "traefik.http.routers.{{ name }}.entrypoints=websecure"
      - "traefik.http.routers.{{ name }}.tls.certresolver=letsencryptresolver"
      - "traefik.http.services.{{ name }}.loadbalancer.server.port=8069"
      - "traefik.http.routers.{{ name }}poll.tls=true"
      - "traefik.http.routers.{{ name }}poll.rule=Host(`{{ name }}.studio73.es`) && PathPrefix(`/longpolling`)"
      - "traefik.http.routers.{{ name }}poll.service={{ name }}poll"
      - "traefik.http.routers.{{ name }}poll.entrypoints=websecure"
      - "traefik.http.services.{{ name }}poll.loadbalancer.server.port=8072"
  postgres:
    image: postgres:12-alpine
    restart: unless-stopped
    container_name: {{ name }}-db
    hostname: {{ name }}-db
    env_file: .env-db
    shm_size: "256mb"
    volumes:
      - ./db:/var/lib/postgresql/data
      - ./.postgresql.conf:/etc/postgresql/postgresql.conf
    command: postgres -c 'config_file=/etc/postgresql/postgresql.conf'
networks:
  default:
    external:
      name: odoo
