click
click-odoo-contrib
confluent_kafka
coverage
dateparser
debugpy
git-aggregator
google_auth
inotify
paramiko
pdfminer.six
pdfplumber==v0.9.0
pycups
pydevd-pycharm==223.4884.74
regex==2022.3.2
tabulate
tqdm
wheel
git+https://github.com/OCA/openupgradelib.git