coverage
phonenumbers
psycopg2-binary==2.7.7  # The psycopg2 wheel package will be renamed from release 2.8
debugpy
pydevd-pycharm
py-spy
py3o.template
py3o.formats
setuptools==57.5.0  #FIX use_2to3 is invalid
Unidecode==1.0.23
num2words
xlwt
