name: CI
on:
  workflow_call:
    inputs:
      merges:
        type: string
jobs:
  lint:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - name: Merge PRs
        if: {% raw %}${{ inputs.merges }}{% endraw %}
        uses: Studio73/dodoo/actions/merge-prs@master
        with:
          merges: {% raw %}${{ inputs.merges }}{% endraw %}
          ssh_key: {% raw %}${{ secrets.SSH_PRIVATE_KEY }}{% endraw %}
      - name: Run pre-commit
        run: |
          pip install pre-commit
          pre-commit run --show-diff-on-failure --color=always --all-files
  test:
    runs-on: self-hosted
    container:
      image: {{ base_image }}:{{ odoo_version }}
      credentials:
        username: {% raw %}${{ secrets.REGISTRY_STUDIO73_USER }}{% endraw %}
        password: {% raw %}${{ secrets.REGISTRY_STUDIO73_PASS }}{% endraw %}
      env:
        PGHOST: postgres
        PGUSER: odoo
        PGPASSWORD: odoo
        PGDATABASE: odoo
    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_USER: odoo
          POSTGRES_PASSWORD: odoo
          POSTGRES_DB: odoo
        volumes:
          - /runner/pgdata:/var/lib/postgresql/data
        options: >-
          --health-cmd pg_isready
          --health-interval 5s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v3
      - name: Merge PRs
        if: {% raw %}${{ inputs.merges }}{% endraw %}
        uses: Studio73/dodoo/actions/merge-prs@master
        with:
          merges: {% raw %}${{ inputs.merges }}{% endraw %}
          ssh_key: {% raw %}${{ secrets.SSH_PRIVATE_KEY }}{% endraw %}
      - name: Setup environment
        run: |
          python /entrypoint.py tail
          pip install -r requirements.txt
      - name: Run tests
        run: odoo-test run
      - name: Run coverage
        run: odoo-test coverage
