name: Concourse (PR)
on:
  pull_request:
    branches:
      - {{ odoo_version }}.0
    types: [ready_for_review, opened, synchronize, reopened]
jobs:
  concourse-resource-webhook:
    runs-on: ubuntu-20.04
    if: "github.event.pull_request.draft == false"
    steps:
      - name: Trigger PR
        uses: studio73/concourse-resource-webhook@1.0.0
        with:
          team: {{ ci_team }}
          pipeline: {{ project_name }}
          resource: pr
          token: {% raw %}${{ secrets.CONCOURSE_WEBHOOK_TOKEN }}{% endraw %}
          {%- if ci_instance %}
          vars: vars.version={{ odoo_version }}
          {%- endif %}
