name: pr
on:
  pull_request:
    branches:
      - {{ odoo_version }}.0
    types: [ready_for_review, opened, synchronize, reopened]
jobs:
  ci:
    uses: Studio73/dodoo/.github/workflows/odoo-ci.yaml@master
    secrets: inherit
    with:
      version: {{ odoo_version }}
      database: {{ project_name }}
  review:
    runs-on: self-hosted
    needs: [ci]
    if: {% raw %}${{ success() }}{% endraw %}
    steps:
      - name: Ask for review
        uses: Studio73/dodoo/actions/review-pr@master
        with:
          token: {% raw %}${{ github.token }}{% endraw %}
