name: prod
on:
  workflow_dispatch:
  push:
    branches:
      - {{ odoo_version }}.0
jobs:
  ci:
    uses: ./.github/workflows/ci.yaml
    secrets: inherit
  docker:
    needs: ci
    uses: ./.github/workflows/build.yaml
    secrets: inherit
    with:
      base_image: {{ base_image }}
      image: {{ image }}
      version: {{ odoo_version }}
  notify:
    runs-on: self-hosted
    needs: [ci, docker]
    if: {% raw %}${{ failure() }}{% endraw %}
    steps:
      - name: Notify errors
        uses: Studio73/dodoo/actions/notify@master
        with:
          token: {% raw %}${{ secrets.STUDIO73_WEBHOOK_TOKEN }}{% endraw %}
          channel: {% raw %}${{ secrets.STUDIO73_WEBHOOK_CHANNEL }}{% endraw %}
          body: "🚧Error generando contenedor <b>PROD</b>"
