name: prod
on:
  workflow_dispatch:
  push:
    branches:
      - {{ odoo_version }}.0
  schedule:
    - cron: "{{ range(0, 31) | random }} 0 * * 1-5"
jobs:
  ci:
    uses: Studio73/dodoo/.github/workflows/odoo-ci.yml@master
    secrets: inherit
    with:
      image: {{ base_image }}:{{ odoo_version }}
      database: {{ project_name }}
  cd:
    needs: [ci]
    uses: Studio73/dodoo/.github/workflows/odoo-cd.yml@master
    secrets: inherit
    with:
      base_image: {{ base_image }}
      image: {{ image }}
      version: {{ odoo_version }}
  notify:
    runs-on: self-hosted
    needs: [ci, cd]
    if: {% raw %}${{ failure() }}{% endraw %}
    steps:
      - name: Notify errors
        uses: Studio73/dodoo/actions/notify@master
        with:
          token: {% raw %}${{ secrets.STUDIO73_WEBHOOK_TOKEN }}{% endraw %}
          channel: {% raw %}${{ secrets.STUDIO73_WEBHOOK_CHANNEL }}{% endraw %}
          body: "🚧Error generando contenedor <b>PROD</b>"