name: prod
on:
  workflow_dispatch:
  push:
    branches:
      - {{ odoo_version }}.0
jobs:
  ci:
    uses: ./.github/workflows/ci.yaml
    secrets: inherit
  docker:
    needs: ci
    uses: ./.github/workflows/build.yaml
    secrets: inherit
    with:
      base_image: {{ base_image }}
      image: {{ image }}
      version: {{ odoo_version }}
