name: dev
on:
  workflow_dispatch:
  schedule:
    - cron: "30 12 * * 1-5"
    - cron: "30 20 * * 0-4"
jobs:
  prs:
    runs-on: self-hosted
    outputs:
      prs: {% raw %}${{ steps.prs.outputs.prs }}{% endraw %}
    steps:
      - uses: actions/checkout@v3
      - uses: Studio73/dodoo/actions/open-prs@master
        id: prs
        with:
          token: {% raw %}${{ github.token }}{% endraw %}
  ci:
    needs: prs
    uses: ./.github/workflows/ci.yaml
    secrets: inherit
    with:
      merges: {% raw %}${{ needs.prs.outputs.prs }}{% endraw %}
  docker:
    needs: [prs, ci]
    uses: ./.github/workflows/build.yaml
    secrets: inherit
    with:
      image: {{ image }}
      version: {{ odoo_version }}-dev
      merges: {% raw %}${{ needs.prs.outputs.prs }}{% endraw %}
