name: dev
on:
  workflow_dispatch:
  schedule:
    - cron: "{{ range(0, 31) | random }} 12 * * 1-5"
    - cron: "{{ range(0, 31) | random }} 20 * * 0-4"
jobs:
  prs:
    uses: Studio73/dodoo/.github/workflows/open-prs.yaml@master
    secrets: inherit
  ci:
    needs: [prs]
    uses: Studio73/dodoo/.github/workflows/odoo-ci.yaml@master
    secrets: inherit
    with:
      version: {{ odoo_version }}-dev
      database: {{ project_name }}
      merges: {% raw %}${{ needs.prs.outputs.prs }}{% endraw %}
  cd:
    needs: [prs, ci]
    uses: Studio73/dodoo/.github/workflows/odoo-cd.yaml@master
    secrets: inherit
    with:
      image: {{ image }}
      version: {{ odoo_version }}-dev
      merges: {% raw %}${{ needs.prs.outputs.prs }}{% endraw %}
  notify:
    runs-on: self-hosted
    needs: [prs, ci, cd]
    if: {% raw %}${{ failure() }}{% endraw %}
    steps:
      - name: Notify errors
        uses: Studio73/dodoo/actions/notify@master
        with:
          token: {% raw %}${{ secrets.STUDIO73_WEBHOOK_TOKEN }}{% endraw %}
          channel: {% raw %}${{ secrets.STUDIO73_WEBHOOK_CHANNEL }}{% endraw %}
          body: "🚧Error generando contenedor <b>DEV</b>"
