[bumpversion]
current_version = 1.0.0
commit = False
tag = False

[bumpversion:file:setup.py]
search = version="{current_version}"
replace = {new_version}

[bumpversion:file:oman/main.py]
search = version="{current_version}"
replace = {new_version}

